<section class="row">
  <div class="col-sm-12">
    <section class="row">
      <div class="col-md-4 mb-2">
          <div class="card mb-3 text-center ">
              <div class="card-block">
                  <div class="easypiechart" id="easypiechart-1" data-percent="25"></div>

                  <h5 class="mt-2 mb-1">Label 1</h5>

                  <p class="mb-1">25%</p>
              </div>
          </div>
      </div>

      <div class="col-md-4 mb-2">
          <div class="card mb-3 text-center ">
              <div class="card-block">
                  <div class="easypiechart" id="easypiechart-2" data-percent="50"></div>

                  <h5 class="mt-2 mb-1">Label 2</h5>

                  <p class="mb-1">50%</p>
              </div>
          </div>
      </div>

      <div class="col-md-4 mb-2">
          <div class="card mb-3 text-center ">
              <div class="card-block">
                  <div class="easypiechart" id="easypiechart-3" data-percent="75"></div>

                  <h5 class="mt-2 mb-1">Label 3</h5>

                  <p class="mb-1">75%</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
